@import './variables.scss';

body{
    background-color: $MainWhite;
    margin: 0;
}

a{
    text-decoration: none;
    color: $SecBlack;
}

p{
    font-size: 15px;
    line-height: 25px;
    font-family: "Manrope Regular";
    font-weight: 500;
    margin: 0;
}

h1{
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    margin: 0;

    font-family: "Manrope Bold";
}

h2{
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.5px;
    font-family: "Manrope Bold";
    margin: 0;
}

h3{
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.15px;

    font-family: "Manrope Bold";
}

h4{
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    margin: 0;
    font-family: "Manrope Bold";
}

h5{
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 1.7px;

    font-family: "Manrope Bold";
}

h6{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.3px;
    margin: 0;
    font-family: "Manrope Bold";
}

.overLine{
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;

    font-family:"Manrope Regular";
}

.subTitle{
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 1px;

    font-family: "Manrope Bold";
}


.homePageHeader{
    background-color: $MainBlack;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.pageHeader{
    background-color: $SecBlack;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productHeader{
    height: 99px;
    width: 100%;
    background-color: $SecBlack;
}

.pageContent{
    display: flex;
    justify-content: center;
}

.pageWrapper{
    max-width: 1110px;
    width: 98vw ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.pageFooter{
    background-color: $SecBlack;
    height: 200px;
    width: 100%;
}

