@font-face {
  font-family: "Manrope Bold";
  src: url("./Fonts/Manrope-Bold.ttf");
}

@font-face {
  font-family: "Manrope Regular";
  src: url("./Fonts/Manrope-Regular.ttf");
}

.productCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
}

.previewCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
  height: auto;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}

.productCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 560px;
  width: 100%;
}

.productCard .cardOne {
  height: 352px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}

.productCard .cardTwo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  max-width: 572px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.productCard .cardTwo h2 {
  width: 75%;
}

.previewCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 560px;
  width: 100%;
}

.previewCard .cardOne {
  height: 352px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}

.previewCard .cardTwo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  max-width: 572px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.previewCard .cardTwo h2 {
  width: 75%;
}

@media only screen and (min-width: 768px) {
  .productCard {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .productCard .cardOne {
    height: 100%;
    width: 40%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .productCard .cardTwo {
    width: 445px;
    max-width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .previewCard:nth-of-type(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .previewCards {
    gap: 160px;
  }
  .previewCard {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .previewCard .cardOne {
    height: 100%;
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .previewCard .cardTwo {
    width: 445px;
    max-width: 50%;
  }
}

.productCardOne {
  background-color: #D87D4A;
  min-height: 560px;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.productCardOne .patternCircles {
  height: 944px;
  width: auto;
  position: absolute;
  left: -260px;
}

.productCardOne .productInfo {
  width: 349px;
  height: 303px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  z-index: 2;
}

.productCardOne .productInfo p {
  width: 349px;
}

.productCardOne .imageContainer {
  position: relative;
  width: 450px;
}

.productCardOne .imageContainer .productImage {
  height: 460px;
  width: auto;
  position: absolute;
  bottom: -10px;
  z-index: 2;
}

.productCardTwo {
  background-image: url("/public/assets/home/desktop/image-speaker-zx7.jpg");
  background-size: cover;
  width: 100%;
  min-height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
}

.productCardTwo .productInfo {
  height: 118px;
  width: 204px;
  padding-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productCardThree {
  width: 100%;
  min-height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.productCardThree .cardOne {
  height: 320px;
  width: 37.5vw;
  min-width: 339px;
  max-width: 540px;
  border-radius: 8px;
}

.productCardThree .cardTwo {
  height: 320px;
  width: 37.5vw;
  min-width: 339px;
  max-width: 540px;
  background-color: #F1F1F1;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productCardThree .cardTwo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-left: 20%;
}

.productCardFour {
  width: 100%;
  min-height: 588px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.productCardFour .cardOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 270px;
  text-align: center;
  max-width: 573px;
}

.productCardFour .cardOne span {
  color: #D87D4A;
}

.productCardFour .cardOne div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productCardFour .cardTwo {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

@media only screen and (min-width: 1024px) {
  .productCardFour {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0px;
  }
  .productCardFour .cardOne {
    width: 455px;
    min-height: 288px;
    text-align: left;
  }
  .productCardFour .cardTwo {
    width: 50%;
  }
}

.gridImages {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  gap: 30px;
}

.gridImages img {
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .largeGridImage {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .gridImages {
        grid-template-columns: repeat(2, 1fr);
  }
}

.featuresCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}

.featuresCard .featureInfo {
  width: 100%;
}

.featuresCard .inTheBox {
  width: 100%;
  max-width: 549px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featuresCard .inTheBox .boxItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.featuresCard .inTheBox .boxItems .boxQuantity {
  color: #D87D4A;
  opacity: 2;
  margin-right: 24px;
}

.featuresCard .inTheBox .boxItems .boxItem {
  opacity: .5;
}

.featuresCard .inTheBox .boxItems p {
  font-family: "Manrope Bold";
}

@media only screen and (max-width: 500px) {
  .featuresCard .inTheBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 1024px) {
  .featuresCard {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .featuresCard .featureInfo {
    max-width: 635px;
    width: 60%;
  }
  .featuresCard .inTheBox {
    width: 30%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.otherProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.otherProducts .otherProductsCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.otherProducts .otherProductsCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.otherProducts .otherProductsCard img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 318px;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .otherProducts .otherProductsCards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=ProductCards.css.map */