@import './variables.scss';

.productCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    height: auto;
}

.productsPageCards{
    gap: 160px;
    flex-direction: column-reverse;
}

.productCard{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    height: 560px;
    width: 100%;
    .cardOne{
        height: 560px;
        width: auto;
        border-bottom: 8px;
    }
    .cardTwo{
        height: 343px;
        width: 445px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;
        h2{
            width: 75%;
        }
    }
}

.productCard:nth-of-type(even){
    flex-direction: row-reverse;
}

.productCardOne{
    background-color: $MainOrange;
    height: 560px;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    .patternCircles{
        height: 944px;
        width: auto;
        position: absolute;
        left: -260px;
    }
    .productInfo{
        width: 349px;
        height: 303px;
        color: $SecWhite;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-self: center;
        z-index: 2;
        p{
            width: 349px;
        }

    }
    .imageContainer{
        position: relative;
        width: 450px;
        .productImage{
            height: 460px;
            width: auto;
            position: absolute;
            bottom: -10px; 
            z-index: 2;
        }
    }
}

.productCardTwo{
    background-image: url("/public/assets/home/desktop/image-speaker-zx7.jpg");
    background-size: cover;
    width: 100%;
    height: 320px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    .productInfo{
        height: 118px;
        width: 204px;
        padding-left: 10%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}

.productCardThree{
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .cardOne{
        height: 320px;
        width: 37.5vw;
        min-width: 339px;
        max-width: 540px;
        border-radius: 8px;
    }

    .cardTwo{
        height: 320px;
        width: 37.5vw;
        min-width: 339px;
        max-width: 850px;
        background-color: $MainGrey;
        border-radius: 8px;
        display: flex;
        align-items: center;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            padding-left: 20%;
        }
       
    }
}

.productCardFour{
    width: 100%;
    height: 588px;
    display: flex;
    justify-content: space-between;
    .cardOne{
        height: 295px;
        width: 455px;
        display: flex;
        align-self: center;
        span{
            color: $MainOrange;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
       
    }
    .cardTwo{
        background-image: url("/public/assets/shared/desktop/image-best-gear.jpg");
        background-size: cover;
        height: 100%;
        width: 50%;
        border-radius: 8px;
    }

    
}

.gridImages{
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    max-height: 592px;
    .imgGroup{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img{
           width: 40vw; 
           max-width: 445px;
           height: auto;
        }
    }
    img{
        border-radius: 8px;
        height: auto;
        width: 57vw;
        max-width: 635px;

    }
}

.featuresCard{
    display: flex;
    justify-content: space-between;
    .featureInfo{
        max-width: 635px;
        width: 60%;
    }

    .inTheBox{
        width: 30%;
        .boxItems{
        display: flex;
        flex-direction: column;
        gap: 8px;
        .boxQuantity{
            color: $MainOrange;
            opacity: 2;
            margin-right: 24px;
        }
        .boxItem{
            opacity: .5;
        }
            p{
                font-family: "Manrope Bold";
            }
        }
    }
}