$MainOrange: #D87D4A;
$MainBlack: #101010;
$MainGrey: #F1F1F1;
$MainWhite: #FAFAFA;

$SecOrange: #FBAF85;
$SecBlack: #000000;
$SecWhite: #FFFFFF;

@font-face{
    font-family: "Manrope Bold";
    font-weight: 700;

    src: url("./Fonts/Manrope-Regular.ttf")
}

@font-face{
    font-family: "Manrope Regular";

    src: url("./Fonts/Manrope-Regular.ttf")
}