@use "../variables" as *;

.modalBackground{
    height: 100vh;
    width: 100vw;
    position: fixed;
    justify-content: center;
    display: flex;
    z-index: -1;
    transition: z-index .3s ease-in-out;
}

.showModal{
    z-index: 90;
}

.modalBackdrop{
    background-color: rgba($SecBlack, 0);
    transition: background-color .3s ease-in-out;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.backdropFade{
    background-color: rgba($SecBlack, .5);
}

.modalWrapper{
    width: 90vw;
    max-width: 1600px;
    position: relative;
    overflow-y: hidden;
    margin-top: 100px;
}

.checkoutModal{
    background-color: $SecWhite;
    border-radius: 8px;
    max-width: 313px;
    height: 488px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: -600px;
    transition: top .3s ease-in-out;
    padding: 32px;
    z-index: 91;
    .buttonOne{
        width: 100%;
    }

}

.slideModal{
    top: 32px;
}

.checkOutItems{
    h6{
        text-align: center;
        width: 100%;
    }
}

.checkoutContent{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    div{
        display: flex;
        justify-content: space-between;
        width: 100%;
        p{
            opacity: .5;
        }
    }
}

