@use "../variables" as *;

p{
    font-size: 15px;
    line-height: 25px;
    font-family: "Manrope Regular", Georgia, serif;
    font-weight: 500;
    margin: 0;
}

h1{
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    margin: 0;

    font-family: "Manrope Bold", Georgia, serif;
}

h2{
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.5px;
    font-family: "Manrope Bold", Georgia, serif;
    margin: 0;
}

h3{
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.15px;
    font-family: "Manrope Bold", Georgia, serif;
    margin-top: 0;
}

h4{
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    font-family: "Manrope Bold", Georgia, serif;
}

h5{
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 1.7px;

    font-family: "Manrope Bold", Georgia, serif;
}

h6{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.3px;
    margin: 0;
    font-family: "Manrope Bold", Georgia, serif;
}

.overLine{
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;

    font-family:"Manrope Regular", Georgia, serif;
}

.subTitle{
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 1px;

    font-family: "Manrope Bold";
}


@media screen and (max-width: $Mobile){
    
    h1{
        font-size: 36px;
    }
    
    h2{
        font-size: 28px;
    }
    
    h3{
        font-size: 24px;
    }
    
    h4{
        font-size: 24px;
    }
    
    h5{
        font-size: 24px;
    }
    
    h6{
        font-size: 18px;
    }
    
    .overLine{
        font-size: 14px;
    }
    
    .subTitle{
        font-size: 13px;
    }
}
