@use "../variables" as *;

.modalBackground{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    justify-content: center;
    display: flex;
    z-index: -1;
    transition: z-index .3s ease-in-out;
    .buttonOne{
        width: 100%;
    }
}

.showCheckoutModal{
    z-index: 90;
}

.showConfirmedModal{
    z-index: 90;
}

.modalBackdrop{
    background-color: rgba($SecBlack, 0);
    transition: background-color .3s ease-in-out;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.backdropFade{
    background-color: rgba($SecBlack, .5);
}

.checkoutModalWrapper{
    width: 90vw;
    max-width: 1600px;
    position: relative;
    overflow-y: hidden;
    margin-top: 100px;
}

.checkoutModal{
    background-color: $SecWhite;
    border-radius: 8px;
    max-width: 313px;
    height: 488px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: -600px;
    transition: top .3s ease-in-out;
    padding: 32px;
    z-index: 91;

}

.slideCheckoutModal{
    top: 32px;
}

.checkOutItems{
    h6{
        text-align: center;
        width: 100%;
    }
}

.checkoutContent{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    div{
        display: flex;
        justify-content: space-between;
    }
    p{
        opacity: .5;
    }
    .incrementButtons{
        width: 90px;
        height: 32px;
        justify-content: space-evenly;
    }
}

.confirmedModalWrapper{
    width: 90vw;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmedModal{
    width: 90vw;
    max-width: 476px;
    padding: 32px;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    background-color: $SecWhite;
    z-index: 91;
    position: relative;
    top: -60px;
    opacity: 0;
    transition: all .3s ease-in-out;
    svg{
        width: 64px;
        height: auto;
        margin-bottom: 8px;
    }
    h3{
        margin-bottom: 0;
    }
}

.slideConfirmedModal{
    top: 0;
    opacity: 1;
}


