@use "../variables" as *;

.navBar{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
    .navWrapper{
        max-width: 1600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 35px;
        padding-bottom: 35px;
        width: 77%;
        border-bottom: 1px solid #979797;
        .navLogo{
            height: auto;
            width: 143px;
            cursor: pointer;
        }
        .navCheckout{
            height: 20px;
            width: auto;
            cursor: pointer;
        }
        ul{
            padding: 0;
            list-style-type: none;
            display: flex;
            justify-content: center;
            gap: 34px;
            margin: 0;
            li{
                cursor: pointer;
                a{
                    text-decoration: none;
                    color: $SecWhite;
                    font-family: "Manrope Bold";
                    font-size: 13px;
                    line-height: 25px;
                    letter-spacing: 2px;
                }
                a:hover{
                    color: $MainOrange;
                }
            }
        }
    }
}